/* Left */
.leftHalf{
    width: 48%;
    float: left;
}
/* Right */
.rightHalf{
    width: 48%;
    float: right;
}
/* Indention */
.subOption{
    margin-left: 20px;
}

/* Textarea */
textarea {
    resize: none;
}

/* Output Button */
.updateButton{
    margin: 30px;
    margin-bottom: 0px;
}

/* H4 */
h4{
    font-weight: bold;
}

/* Preview & Outputs */
.sticky-wrapper{
    width: 48%;
    float: right;
}

/* Features Dropdown Bullets */
.bullets{
    font-size: 24px;
}

/* Features Repeated List */
.repeated-textbox{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Features Repeated List Add Button */
.fullLength{
    width: 100%;
}